#menu {
  background-color: black;
}
h4,
h1 {
  color: white;
}
.menu-desc {
}
li,
ul {
  display: flex;
  color: #cda45e;
  padding-left: 20px;
  justify-content: center;
}
img {
  width: 70px;
  border-radius: 50%;
  float: left;
  border: 5px solid rgba(255, 255, 255, 0.2);
}
.menu-content::after {
  content: "................................";
  /* position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #bab3a6; */
}
